.aboutMe{
  margin: 50px 100px 50px 150px; 
  align-items: center;
  text-align: center;
  
}

.aboutMe > p {
    font-size: 20px;
    font-family: helvetica;
}

.icons{
   display: flex;
   position: relative;
   margin-left: 270px;
   /* margin: 30px; */
}

.icons > img {
    height: 50px;
}