.aboutMe{
  margin: 50px 100px 50px 100px; 
  align-items: center;
}

.aboutMe > p {
    font-size: 24px;
    font-family: monospace;
}

.icons{
   display: flex;
   position: relative;
   margin: 30px;
}

.icons > img {
    height: 50px;
}