 .App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

h1 {
  font-size: 36px;
  font-family:fantasy;
  text-align: center;
  color: rgba(63, 62, 62, 0.658);
  
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  height: 44px;
  text-align: center;
}

.navbar > li {
  float: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;

}

/* .navBarLinks {
 
  float: right;
  transition: .3s background-color;
  
  display: flex;
  justify-content: center;
  height: 44px;
 
} */

.navBarLinks:hover {
  color: #8fb9dbb7;
  cursor: pointer;
  border-bottom: 2px solid #8fb9dbb7;
  
  
}
.navBarLinks {
  display: block;
  color: rgb(172, 169, 169);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.story {
  
  right: 0;
  text-align:center;
  
  height: 30rem;
  margin: 0rem 20rem 0rem 20rem;
  
  color: rgba(51, 49, 49, 0.76);
  font-family: sans-serif;
  font-size: 20px;
  /* width: 1200px;
  height: 600px; */
  
  
}
.copyright{
  text-align: center;
}
.projectsNavBar{
  list-style-type: none;
  height: 35rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
}

h2 {
  font-size: 24px;
  font-family:fantasy;
  text-align: left;
  padding-left: 100px;
  color: rgba(63, 62, 62, 0.658);
  padding-right:50px;
  
}
.socialMediaIcons{
  font-size: 24px;
  font-family:fantasy;
  text-align: left;
  padding: 14px 2px 14px 14px;
  color: rgba(63, 62, 62, 0.658);
}

.resume{
  height: 35rem;
  position: relative;
  padding-left: 750px;

}

.projectDescription{
  right: 0;
  text-align:left;
  margin: 1rem 25rem 1rem 25rem;
  font-family: monospace;
  color: rgba(51, 49, 49, 0.658);
  font-size: 18px;
  
}

.projectsLink{
  display: block;
  color: rgb(105, 103, 103);
  text-align: right;
  margin: 1rem 25rem 1rem 25rem;
  text-decoration: none;
  font-size: 24px;
  font-family: monospace;
  font-weight: bold;


}

.projectsLink:hover{
  color: #8fb9dbb7;
  border-bottom: 2px solid #8fb9dbb7;
}

.intro{
  font-size: 20px;
  right: 0;
  text-align:center;
  margin: 1rem 1rem 1rem 60rem;
  
  color: rgba(17, 17, 17, 0.664);
  font-family:monospace;
}

.resume-image{
  position: right;
  height: 600px;
  width: 900px;
}

.image-home-page{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  

}


a img:last-child {
  display: none;  
}
a:hover img:last-child {
  display: block;  
}
a:hover img:first-child {
  display: none;  
}

.cards{
  display:grid;
  grid-template-columns:1fr 1fr ;
}
