 .App {
  text-align: center;
}

h1 {
  font-size: 36px;
  font-family:fantasy;
  text-align: center;
  color: rgba(63, 62, 62, 0.658);
  
}

.navbar{
  justify-content: space-between;

  position: sticky;
  top: 0;
  list-style-type: none;
 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  height: 44px;
  text-align: center;
  z-index: 100;
  width: 100%;
}

.navbar > li {
  float: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  /* line-height: 0px; */
}

.navBarLinks:hover {
  color: #8fb9dbb7;
  cursor: pointer;
  border-bottom: 2px solid #8fb9dbb7;
}

.navBarLinks {
  display: block;
  color: rgb(172, 169, 169);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 0px;
}
.story {
  
  right: 0;
  text-align:center;
  
  height: 30rem;
  margin: 0rem 20rem 0rem 20rem;
  
  color: rgba(51, 49, 49, 0.76);
  font-family: monospace;
  font-size: 20px;
  /* width: 1200px;
  height: 600px; */
  
  
}
.copyright{
  text-align: center;
}


h2 {
  font-size: 24px;
  font-family:fantasy;
  text-align: left;
  padding-left: 100px;
  color: rgba(63, 62, 62, 0.658);
  padding-right:50px;
  
}
.socialMediaIcons{
  font-size: 24px;
  font-family:fantasy;
  
  margin: 1rem 1rem 1rem 1rem;
  color: #8fb9dbb7;
}
.socialMediaIcons:hover{
  color: #2c455ab7;
  /* font-size: 36px; */
}

.resume{
  height: 35rem;
  position: relative;
  padding-left: 750px;

}







.intro{
  font-size: 20px;
  right: 0;
  text-align:center;
  margin: 1rem 1rem 1rem 60rem;
  
  color: rgba(17, 17, 17, 0.664);
  font-family:monospace;
}

.resume-image{
  position: right;
  height: 600px;
  width: 900px;
}







.header-image-Chicago{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}

.video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


