 .App {
  text-align: center;
}

h1 {
  font-size: 36px;
  font-family:fantasy;
  text-align: center;
  color: rgba(63, 62, 62, 0.658);
  
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  height: 44px;
  text-align: center;
}

.navbar > li {
  float: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  /* line-height: 0px; */
}

.navBarLinks:hover {
  color: #8fb9dbb7;
  cursor: pointer;
  border-bottom: 2px solid #8fb9dbb7;
}

.navBarLinks {
  display: block;
  color: rgb(172, 169, 169);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 0px;
}
.story {
  
  right: 0;
  text-align:center;
  
  height: 30rem;
  margin: 0rem 20rem 0rem 20rem;
  
  color: rgba(51, 49, 49, 0.76);
  font-family: monospace;
  font-size: 20px;
  /* width: 1200px;
  height: 600px; */
  
  
}
.copyright{
  text-align: center;
}
.projectsNavBar{
  list-style-type: none;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
}

h2 {
  font-size: 24px;
  font-family:fantasy;
  text-align: left;
  padding-left: 100px;
  color: rgba(63, 62, 62, 0.658);
  padding-right:50px;
  
}
.socialMediaIcons{
  font-size: 24px;
  font-family:fantasy;
  text-align: left;
  padding: 14px 2px 14px 14px;
  color: rgba(63, 62, 62, 0.658);
}
.socialMediaIcons:hover{
  color: #8fb9dbb7;
  font-size: 36px;
}

.resume{
  height: 35rem;
  position: relative;
  padding-left: 750px;

}

.projectDescription{
  right: 0;
  text-align:left;
  margin: 1rem 25rem 1rem 25rem;
  font-family: monospace;
  color: rgba(51, 49, 49, 0.658);
  font-size: 18px;
  
}

.projectsLink{
  display: block;
  color: rgb(105, 103, 103);
  text-align: right;
  margin: 1rem 25rem 1rem 25rem;
  text-decoration: none;
  font-size: 24px;
  font-family: monospace;
  font-weight: bold;


}

.projectsLink:hover{
  color: #8fb9dbb7;
  border-bottom: 2px solid #8fb9dbb7;
}

.intro{
  font-size: 20px;
  right: 0;
  text-align:center;
  margin: 1rem 1rem 1rem 60rem;
  
  color: rgba(17, 17, 17, 0.664);
  font-family:monospace;
}

.resume-image{
  position: right;
  height: 600px;
  width: 900px;
}

.image-home-page{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

a img:last-child {
  display: none;  
}
a:hover img:last-child {
  display: block;  
}
a:hover img:first-child {
  display: none;  
}

.cards{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  line-height: 0px;
}


.article-title{
  display: block;
  color: rgba(51, 49, 49, 0.658);
  text-align: right;
  margin: 1rem 20rem 1rem 20rem;
  text-decoration: none;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;

}
.article-date{
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  color: rgba(51, 49, 49, 0.658);
}

.article{
  right: 0;
  text-align: center;
  margin: 1rem 10rem 1rem 10rem;
  font-family: monospace;
  color: rgba(51, 49, 49, 0.658);
  font-size: 18px;
  
  
  
}

.header-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 300px;
}

.text-border{
margin: 0 10rem 0 10rem;
border-right: rgba(128, 128, 128, 0.712) solid 1px;
border-left: rgba(128, 128, 128, 0.712) solid 1px;
}

.header-image-Chicago{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}

.video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.github-icon{
  text-align: right;
  margin: 1rem 25rem 1rem 25rem;;
}
